@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #212226;
  color: #ffffff;
}

.varbar {
  background-color: #212226;
  color: #ffffff;
}


/* Path: Client\src\index.js */